*
{
    margin: 0;
    padding: 0;
    font-family: 'Concert One', sans-serif;
}

.title
{
    color: #D8572A;
    font-size: 52px;
    text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px #780116;
}

.mainConteiner
{
    max-width: 84.65%;
    margin: 0 auto;
}

.allCenter
{
    text-align: center;
}

.jokeBox
{
    background-color: #E1E1E1;
    padding: 45px 15px;
    border-radius: 20px;
    font-size: 19px;
}

.categoriesSelector
{
    width: 100%;
    height: 28px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 100px;
}

.chuckImg
{
    width: 104px;
    margin-top: 54px;
}

.requestButton
{
    background-color: #780116;
    padding: 14px 13px;
    border-radius: 10px;
    color: #E1E1E1;
    display: block;
    width: 100%;
    border: 0;
    margin-bottom: 15px;
    font-size: 16px;
}

#mitra{
    width: 100px;
    height: 100px;
    position: relative;
    top: -78px;
    right: -140px;
}

.copyButton
{
    background-color: #D8572A;
    padding: 14px 70px;
    border-radius: 15px;
    color: #E1E1E1;
    border: 0;
    font-size: 16px;
    position: relative;
    opacity: 80%;
}

.copyButton::after
{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: url(../img/copy.svg);
    width: 15px;
    height: 15px;
    right: 14px;
}

.url
{
    margin-bottom: 15px;
    background-color: #D8572A;
    padding: 14px 50px;
    border-radius: 10px;
    border: 0;
    font-size: 16px;
    position: relative;
    transition: all 0.5s ease-in-out;
    text-align: center;
}

.urlText
{
    text-decoration: none;
    color: #E1E1E1;
}